{% load cms_tags sekizai_tags static %}

{% addtoblock "css" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<style>
    .pers-icon-yt{
        color: #338C36; 
        font-size: 4rem;
    }

    .pers-icon-yt:hover{
        color: #E60064;
    }
</style>
{% endaddtoblock %}

<section data-bs-version="5.1" class="video1 cid-tRargBYgQ6" id="video1-o" style="z-index: 0;">

    <div class="align-center container">
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-lg-10">
                <div class="box">
                    <div class="mbr-media show-modal align-center" data-modal=".modalWindow" style="background-color: black; min-height: 520px;" onclick="createSource('{{instance.id}}','{{instance.parseUrl}}')">

                        {% if instance.imagen %}
                        <img src="{{instance.imagen.url}}" style="height: 100%; position: absolute;">
                        {% endif %}

                        <div class="icon-wrap">
                            <i class="bi bi-play-circle-fill pers-icon-yt"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div id="modalWindow{{ instance.id }}" class="modalWindow" style="display: none;" id="videoDesc{{ instance.id }}" onclick="cleanSource('{{instance.id}}')">
            <div class="modalWindow-container">
                <div class="modalWindow-video-container">
                    <div class="modalWindow-video">
                        <iframe id="video{{ instance.id  }}" width="100%" height="100%" frameborder="0" allowfullscreen="1" src=""></iframe>
                    </div>
                    <a class="close" role="button" data-dismiss="modal" data-bs-dismiss="modal">
                        <span aria-hidden="true" class="mbr-iconfont mobi-mbri-close mobi-mbri closeModal"></span>
                        <span class="sr-only visually-hidden">Close</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% render_block "vid_js" %}

</section>