{% load cms_tags sekizai_tags static %}

{% addtoblock 'css' %}
<!-- Referencias CSS personalizadas! -->
<style>
    progress::-moz-progress-bar {
        background: #055A1C;
    }
</style>
{% endaddtoblock %}

<div class="progress1 progress-border">
    <div class="title-wrap">
        <div class="progressbar-title mbr-semibold mbr-fonts-style display-4">
            <p><strong>{{instance.encabezado}}</strong>
            </p>
        </div>
        <div class="progress_value mbr-fonts-style display-7">
            <span>{{ instance.num_barra }} %</span>
        </div>
    </div>
    <progress class="progress progress-primary pers-barra-per" max="100" value="{{instance.num_barra}}">
    </progress>
</div>