{% load cms_tags sekizai_tags %}


<section data-bs-version="5.1" class="progress6 cid-tRa7MTFNsn" id="progress06-n">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-pb">
                <img src="{{instance.imagen.url}}" alt="Mobirise" title="">
            </div>
            <div class="col-lg-6 mbr-flex align-left col-md-12">
                <div class="mbr-m-auto py-5">
                    <h2 class="mbr-section-title pb-4 mbr-regular mbr-fonts-style display-2">
                        <strong>{{instance.titulo}}</strong>
                    </h2>
                    <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-7">
                        {{instance.texto}}
                    </h3>
                    <div class="progress_elements">
                        {% for plugin_hijo in instance.child_plugin_instances %}
                            {% render_plugin plugin_hijo %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>