{% load cms_tags sekizai_tags static %}

{% addtoblock 'css' %}
<style>
.mhg-p-btn-container{
    display: block;
    align-self: center;
}

@media (max-width: 767px){
    .mhg-p-btn-container{
        display: flex;
    }
}
</style>
{% endaddtoblock %}

<section data-bs-version="5.1" class="callToAction1 conferencem4_callToAction1 cid-tRKecLQvPi" id="callToAction1-s">

	<div class="container">
		<div class="row">
			<div class="content__block text-white col-md-7">
				<h2 class="mbr-section-title mbr-bold mbr-fonts-style display-5">{{ instance.titulo }}</h2>
				<p class="mbr-text mbr-medium mbr-fonts-style display-4" style="text-align: justify;">{{ instance.texto }}</p>
			</div>
			<div class="col-md-5 mhg-p-btn-container">
                <div class="mbr-section-btn align-right">
                    <!-- Botones Hijos! -->
                    {% for plugin_hijo in instance.child_plugin_instances %}
                        {% render_plugin plugin_hijo %}
                    {% endfor %}
                </div>
            </div>
		</div>
	</div>

</section>