{% load cms_tags sekizai_tags static %}


<a class="btn btn-white-outline display-4" href="{{ instance.url }}">{{ instance.texto }}<span class="fa fa-arrow-right  mbr-iconfont mbr-iconfont-btn"></span></a>
