{% load cms_tags sekizai_tags static %}


<section data-bs-version="5.1" class="info1 cid-tQYBfv14pZ" id="info1-m" {% if instance.imagen %}  style="background-image: url({{instance.imagen.url}});" {% else %} style="background-color: {{ instance.color}};" {% endif %}>
    {% if instance.imagen and instance.color != "#FFFFFF" %}
    <div class="mbr-overlay" style="opacity: 0.5; background-color: {{instance.color}};"></div>
    {% endif %}
    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h3 class="mbr-section-title mb-4 mbr-fonts-style display-1" {% if instance.imagen == "" and instance.color == "#FFFFFF" %} style="color: black;" {% endif %}>
                    <strong>{{instance.titulo}}</strong>
                </h3>
                <p class="mbr-text mb-5 mbr-fonts-style display-7" {% if instance.imagen == "" and instance.color == "#FFFFFF" %} style="color: black;" {% endif %}>
                    {{instance.texto}}
                </p>
                <div class="mbr-section-btn">
                    {% for plugin_hijo in instance.child_plugin_instances %}
                        {% render_plugin plugin_hijo %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>