{% load cms_tags sekizai_tags static user_agents %}


<div class="row timeline-element reverse">
    <div class="col-lg-10 align-left block-timeline">

        <div class="timeline-text-content col">
            <!-- Imagen -->
            {% if instance.imagen %}
            <div class="image-wrap col-lg-4">
                <img src="{{ instance.imagen.url }}">
            </div>
            {% endif %}
            <!-- Contenido -->
            <div class="text-block col-lg-8">
                <h5 class="mbr-timeline-title mbr-fonts-style display-5">
                    {{ instance.titulo }}
                </h5>
                <p class="mbr-timeline-text mbr-fonts-style display-7" style="text-align: justify;">
                    {{ instance.texto }}
                </p>
                <div class="bottom-date">
                    <span class="iconsBackground">
                        <span class="mbr-iconfont fa-calendar fa"></span>
                    </span>
                    <h6 class="mbr-timeline-date mbr-fonts-style display-7">
                        {{ instance.formatFechaInicio }} 
        
                        <!-- Si existe fecha_fin -->
                        {% if instance.fecha_fin %}
                        - {{ instance.formatFechaFin}}
                        {% endif %} 
                    </h6>
                </div>
                <div class="bottom-date">
                    <span class="iconsBackground">
                        <span class="mbr-iconfont fa-clock-o fa"></span>
                    </span>
                    <h6 class="mbr-timeline-date mbr-fonts-style display-7">
                        {{ instance.hora_inicio }} 
        
                        <!-- Si existe fecha_fin -->
                        {% if instance.hora_fin %}
                        - {{ instance.hora_fin}}
                        {% endif %} 
                    </h6>
                </div>
                <!-- Referencia a la ubicación -->
                <a href="{% if request.user_agent.is_pc %} {{ instance.url_pc }} {% else %} {{ instance.url_movil }} {% endif %}">
                    <div class="location">
                        <span class="iconsBackground">
                            <span class="fa fa-map-marker mbr-iconfont"></span>
                        </span>
                        <h6 class="mbr-timeline-location mbr-white mbr-fonts-style display-7">
                            <!-- Nombre de la ubicación -->
                            {{ instance.direccion }}
                        </h6>
                    </div>
                </a>
            </div>
        </div> <!-- Fin de Hijo -->

    </div>
</div>
