{% load cms_tags sekizai_tags static %}


<section data-bs-version="5.1" class="timeline1 attorneym4_timeline1 cid-tRJKnfnYFV" id="timeline1-r">
    <div class="container align-center">

        <div class="container timelines-container" mbri-timelines="">
            
            {% for plugin_hijo in instance.child_plugin_instances %}
                {% with indice=forloop.counter %}
                    {% render_plugin plugin_hijo %}
                {% endwith %}
            {% endfor %}
            
        </div>
    </div>
</section>