{% load cms_tags sekizai_tags static %}

{% addtoblock 'css' %}
<!-- Referencias CSS personalizadas! -->
<!-- <link rel="stylesheet" href={% static "/css/styles1.css" %} type="text/css"> -->
<style>
.content{
    padding-bottom: 20px;
}

.banner-bg{
    margin: 0px 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    width: 100%;
    /* min-height: 30rem; */
}

.no_btn_banner{
    height: 100%;
    object-fit: cover;
}

.banner1 .banner-txt{
    text-align: center; 
    padding: 0 10rem 0 10rem;
}

@media screen and (min-width:768px){
    .banner1 .banner-bg img{margin-right: 100px;}
    .banner1 .banner-txt{position: absolute; top: 50%; left: 10%; transform: translate(-10%, -50%); width: 50%; text-align: left;}
    .banner1 .banner-txt h1{font-size: calc(2*1.5vw);}
    .banner1 .banner-txt p{font-size: calc(1.2*1.5vw);}
}

.banner-btn{
    color: white;
    border-radius: 5px; 
    height:44px; 
    width: 152px; 
    text-align: center; 
    /* font-size: 16px;  */
    padding: 10px 0;
    margin: 3px;
}

.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: white;
}

.mhg_media_banner{
    height: 100%;
}

.mhg_media_banner_content{
    height: 400px;;
}

@media (max-width: 991px) {
    .mhg_media_banner{
        height: 50%;
    }

    .mhg_media_banner_content{
        height: 600px;
    }
}

@media (max-width: 426px) {
    .mhg_media_banner_content{
        height: 850px;
    }
}
</style>

{% endaddtoblock %}

<div id="carouselExampleControls" class="carousel slide plugin parent" data-ride="carousel">

    <div class="carousel-indicators">
    {% for plugin_hijo in instance.child_plugin_instances %}
        {% with index=forloop.counter0 %}
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="{{ index }}" class="{% if index == 0 %} active {% else %}  {% endif %}" aria-current="true" aria-label="Slide 1"></button>
        {% endwith %}
    {% endfor %}
    </div>

    <div class="carousel-inner">
    {% for plugin_hijo in instance.child_plugin_instances %}
        {% with indice=forloop.counter %}
        {% render_plugin plugin_hijo %}
        {% endwith %}
    {% endfor %}
    </div>
</div>
