{% load cms_tags sekizai_tags user_agents %}


<section data-bs-version="5.1" class="header5 conferencem4_header5 cid-tQwp3Oqinj mhg_media_banner_content carousel-item {% if indice == 1 %} active {% else %}  {% endif %}" id="header5-k" style="background-color: {{ instance.color }} !important;">
    {% if allow_children is True %}

    {% addtoblock 'css' %}
    <style>
        .img_persh{{instance.id}} {
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 70%, {{ instance.color}} 90%) !important;
        }
        .img_persv{{instance.id}} {
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, {{ instance.color}} 100%) !important;
        }
    </style>
    {% endaddtoblock %}

    <div class="container-fluid" style="padding: 0;">
        <div class="row align-items-center mhg_media_banner">
            <div class="mbr-figure col-lg-7 image h-100">
                <div class="img_persh{{instance.id}} d-none d-lg-block" style="position: absolute; width: 100%; height: 100%; z-index: 2;"></div>
                <div class="img_persv{{instance.id}} d-md-block d-lg-none" style="position: absolute; width: 100%; height: 100%; z-index: 2;"></div>

                {% if request.user_agent.is_mobile %}
                    <img src="{{instance.imagen_Escritorio.url}}" style="object-fit: cover;">
                {% else %}
                    <img src="{{instance.imagen_Escritorio.url}}" style="object-fit: cover;">
                {% endif %}

            </div>
            <div class="col-lg-5 lg-push content__block text-white">
                <h1 class="mbr-section-title mbr-bold mbr-fonts-style display-5">
                    {{ instance.titulo }}
                </h1>
                <h5 class="mbr-section-subtitle  mbr-fonts-style" mbr-theme-style="display-4" mbr-if="showSubtitle" data-app-selector=".mbr-section-subtitle" style="max-height: 50px;">
                    {{instance.subtitulo}}
                </h5>
                <div class="mbr-section-btn">
                {% for plugin_hijo in instance.child_plugin_instances %}
                    {% render_plugin plugin_hijo %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% else %}

    <div class="container-fluid">
        <div class="row align-items-center h-100">
            <div class="lg-push content__block text-white" style="position: absolute; z-index: 1; right: 0%;">
                <h1 class="mbr-section-title mbr-bold mbr-fonts-style display-5">
                    {{ instance.titulo }}
                </h1>
                <h5 class="mbr-section-subtitle  mbr-fonts-style" mbr-theme-style="display-4" mbr-if="showSubtitle" data-app-selector=".mbr-section-subtitle">
                    {{instance.subtitulo}}
                </h5>
            </div>
            {% if instance.color != "#FFFFFF" %} 
                <div style="height: 100%; width: 100%; opacity: 0.5; position: absolute; left: 0px; background: {{ instance.color }};"> </div>
            {% endif %}
            <img src="{{instance.imagen_Movil.url}}" class="d-md-none no_btn_banner img_Movil" style="padding: 0px;">
            <img src="{{instance.imagen_Escritorio.url}}" class="d-none d-md-block no_btn_banner img_Escritorio" style="padding: 0px;">
        </div>
    </div>
    {% endif %}
</section>

