{% load cms_tags sekizai_tags static %}

<section data-bs-version="5.1" class="timeline1 cid-tQT6vnZN2D" id="timeline1-l">
    <div class="container-fluid">
        <div class="wrapper">

            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="timelines-container mt-4">
                        {% for plugin_hijo in instance.child_plugin_instances %}
                            {% with indice=forloop.counter %}
                                {% render_plugin plugin_hijo %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
