{% load sekizai_tags mathfilters%}

<div class="row timeline-element first-separline mb-5 {% if indice|mod:2 %} reverse {% endif %}" style="width: 100%;">
    <span class="iconBackground"></span>
    <div class="col-12 col-md-6">
        <div class="timeline-text-wrapper {% if indice|mod:2 %} left {% else %} right {% endif %}">
            <h5 class="mbr-timeline-date mbr-fonts-style mb-2 display-5" style="color: #055A1C;">
                {{instance.titulo}}
            </h5>
            <h4 class="mbr-timeline-title mbr-fonts-style mb-3 display-7" style="max-width: 100px;">
                {{instance.subtitulo}}
            </h4>
            <p class="mbr-text mbr-fonts-style mb-0 display-4" style="text-align: justify;">
                {{instance.texto}}
            </p>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="image-wrapper {% if indice|mod:2 %} right {% else %} left {% endif %}" style="align-items: center; height: 100%; display: flex;">
            {% if instance.imagen %} 
            <img src="{{instance.imagen.url}}" alt="Mobirise Website Builder">
            {% endif %}
        </div>
    </div>
</div>
